body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}

.slider-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    text-align: center;
    max-width: 50em;
    padding: 2em;
    background-color: #333;
}

.text {
    color:#fff;
    font-size: 3em;
}

.slider-img .slide, .control, .text {
    display: none;
}

.control-label {
    cursor: pointer;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-color: #51cbd6;
    border: 0.3em solid #51cbd6;
    box-sizing: border-box;
    margin: 0 0.5em;
    border-radius: 50%;
}

.control-label:hover {
    background-color: #fff;
    border-color: #fff;
}

.control-label:active {
    background-color: transparent;
    border-color: #fff;
}

.control-label:checked {
    background-color: transparent;
    border: 2px solid #51cbd6;
}

#slide1:checked ~ .slider-img .slide.slide1,
#slide2:checked ~ .slider-img .slide.slide2,
#slide3:checked ~ .slider-img .slide.slide3,
#slide4:checked ~ .slider-img .slide.slide4 {
    display: block;
    max-width: 100%;
    height: auto;
}

#slide1:checked ~ .slider-text #text1,
#slide2:checked ~ .slider-text #text2,
#slide3:checked ~ .slider-text #text3,
#slide4:checked ~ .slider-text #text4 {
    display: block;
}